* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ui-message-error {
  width: 100% !important;
  background-color: #e45146 !important;
  color: white !important;
  display: flex !important;
  align-items: center !important;
}

.ui-message-error > .ui-message-icon {
  color: white !important;
  margin-top: 2px !important;
}

.input-mask {
  border-color: #ced4da !important;
}

.input-mask:focus {
  border-color: #007bff !important;
}

body .ui-dialog .ui-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px;
}

.p-dialog-footer {
  display: flex;
  gap: 10px;
}

.sucess {
}

.ui-toast-message-error {
  background-color: #e45146 !important;
  color: white !important;
}

.ui-toast-message-success {
  background-color: #6dcc83 !important;
  color: white !important;
}

.ui-toast-close-icon {
  color: white !important;
}

.ui-toast-close-icon:hover {
  text-decoration: none !important;
}

@media (max-width: 768px) {
  .filter-item .ui-dropdown {
    min-width: 100% !important;
  }
}

@media (max-width: 576px) {
  tbody .ng-star-inserted {
    border-bottom: 0.5px solid #ccc8c8 !important;
  }

  tbody .ng-star-inserted:last-child {
    border-bottom: 0px !important;
  }

  .tarefa-header-actions p-dropdown,
  .tarefa-header-actions p-dropdown .ui-dropdown,
  .tarefa-header-actions p-button,
  .tarefa-header-actions p-button .ui-button {
    width: 100% !important;
  }
}
